.navbar {
    display: flex;
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

}

.search.input,
.burger-button,
.btn-task-add {
    margin-bottom: 12px;
}


.navbar .nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.navbar ul li {

}

.navbar .navbar-nav .nav-item {
    color: #000;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: .375rem .75rem;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    /* border: 2px solid rgba(121, 121, 121, 1); */
    outline: none;
    margin-right: 10px;
    margin-bottom: 12px;
    border: none;
    background-color: transparent;
}

.navbar .navbar-nav {
    height: 0;
    overflow: hidden;
    transition: height 1000ms ease;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navbar .navbar-nav .nav-item:hover {
    background-color: #e76070;
} 
.navbar .navbar-nav .nav-item.active {
  background-color: rgb(236, 128, 141, 1);
}

.search.input {
    width: 300px;
    position: relative;
}

.search.input label{
    position: absolute;
    right: 0;
    padding: .375rem .75rem;
    line-height: 1.2;
    font-size: 14px;
    color: rgba(51, 51, 51, 0.501960784313725)
}

@media (min-width: 576px) {
    .navbar {
        flex-direction: row;
    }

    .navbar ul {
        flex-direction: row;
        justify-content: space-between;
    }
  
}

@media (min-width: 768px) { 

 }

@media (min-width: 992px) { 
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    .navbar ul {
        width: 50%;
    }

    .navbar .navbar-nav {
        height: auto !important;
        flex-direction: row;
        width: auto !important;
    }

    .burger-button {
        display: none !important;
    }


}

@media (min-width: 1200px) {
}